.contenedor{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(204, 219, 241);
}

.arriba{
    background-color: rgb(7, 7, 79);
    width: auto;
    height: 150px;
    padding: 0px;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 0 0 50px 50px;
}

.num{
    color: rgba(255, 255, 255, 0.876);
    text-align: end ;
    margin-top: -190px;
    position: absolute;
    right: 50px;
    font-size: 40px;
}

.b-b{
    padding: 30px;
    color: yellow;
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
}

.img1{
    display: flex;
    gap: 60px;
    margin-top: 90px;
    justify-content: center;
}

.tarjeta{
    width: 250px;
    height: 250px;
}

.instar{
    color: rgb(10, 10, 57);
    font-size: 50px;

}

.txt{
    color: rgb(17, 17, 46);
    background-color: rgba(190, 181, 181, 0.624);
    font-size: 25px;
    height: 50px;
    width: 250px;

    position: absolute;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
}

.logos{
    width: 150px;
    height: 150px;
    gap: 120px;
}

.logos1{
    width: 190px;
    height: 150px;
    gap: 120px;
}

.final{
height: auto;
width: auto;
}

.amarillo{
    width: 100%;
    height: 10px;
    background-color: rgb(179, 179, 22);
    margin-top: 50px;
}

.azul{
    width: 100%;
    height: 80px;
    background-color: rgb(7, 7, 79);

}

.boton{
    color: white;
    justify-content: end;
    font-size: 35px;
    margin-left: 850px;
    font-family: Arial, Helvetica, sans-serif;
}

